.Contact-info{
    margin: 20px 0px 0px;
    border-bottom: 2px solid rgba(207, 207, 207, 0.89);
}
.Contact-info-container{
   margin: 15px 15px 10px;
}
.Contact-image{
   font-size: 25px;
   color: #fff;
   line-height: 55px;
   text-align: center;
   height: 55px;
   width: 55px;
   background-color:  #4b577a;
   border-radius: 50%;
   display: inline-block;
   overflow: hidden;
}
.contact-name{
   font-size: 22px;
   font-weight: bold;
   color: #4b577a;
}
.contact-name span{
   display: block;
   font-size: 15px;
   color: rgba(143, 140, 140, 0.89);
}
.contact-name-container{
   display: inline-block;
   width: 70%;
   margin-left: 12px;
}